@import '/src/styles/_custom-variables.scss';
@import 'bootstrap';


.lastfall-brand {
    cursor: pointer;
    fill: black;
    transition: 1s;
}

.lastfall-brand {
    transition: 1s;
  
    &:hover {
      fill: $primary;
    }
  }
  
  p::-webkit-scrollbar {
    width: 5px;              
  }
  
  p::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);       
  }
  
  p::-webkit-scrollbar-thumb {
    background-color: $primary;  
    border-radius: 40px;      
    border: 3px solid rgba(255, 166, 0, 0); 
  }


  
  