@font-face {
    font-family: primary;
    src: url(/src/assets/fonts/breakaway.ttf) format('truetype');
}

.font-custom {
    font-family: primary;
}

html {
    scroll-behavior: smooth;
}

p::-webkit-scrollbar-button {
    display: none !important; 
  }