@font-face {
    font-family: primary;
    src: url(/src/assets/fonts/breakaway.ttf) format('truetype');
}

@font-face {
    font-family: secondary;
    src: url(src/assets/fonts/fontSecond2.ttf) format('truetype');
}

.font-custom {
    font-family: primary;
}

.font-custom2 {
    font-family: secondary;
}


html {
    scroll-behavior: smooth;
}

p::-webkit-scrollbar-button {
    display: none !important; 
}

.moblieActive {
    p, h1, h2{    
        text-align: center;
    }

}